<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="testData" type="E2EGiacomTestAutomation.Configuration.TestDataSection.TestDataSection, E2EGiacomTestAutomation" />
    <section name="testConfiguration" type="E2EGiacomTestAutomation.Configuration.TestConfigurationSection.TestConfigurationSection, E2EGiacomTestAutomation" />
    
  </configSections>

  <connectionStrings>
    <add name="exampleConnectionString" connectionString="typeYourConnectionStringHere" />
  </connectionStrings>

  <testData>
    <testDataCollection>
      <testData id="Admin" username="admin" password="bluebird" />
      <testData id="User" message="Message of the Contact Form" />
    </testDataCollection>
  </testData>

  <testConfiguration browser="Chrome" waitTimeout="50" screenshotDirectory="../">
    <pages>
      <add name="Dashboard" path="http://13.87.94.216:443/" />
    </pages>
  </testConfiguration>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.12.0.0" newVersion="3.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
